@charset "UTF-8";
body {
	font-family: "roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
	color: #EAE0D5;
margin-right: 200px;
	margin-left: 200px;
	margin-bottom: 200px;
	background-color: #393C56;
	}

nav {
	
   padding: 0;
   top: 0;
width: 100%;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h1
{
  font-: "roboto";
  font-weight: 700;
  font-style: normal;
	color:#e086d3;
	margin-top: 90px;
}

h2 {
  font-family: "raleway";
  font-weight: 700;
  font-style: bold;
color:#9398d3;
}


a:link {
  color: #ffffff;
}

a:visited {
  color: #E086D3;
}

a:hover {
  color: #e086d3;
}

div p {
    width: 63%;
    margin: 0 auto;
    margin-bottom: 20px;
}


.headingimage {
	display: flex;
	flex-direction: column;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}



.heading {
	display: flex;
	flex-direction: row;
	align-items: center
}



.social-icons {
	list-style: none;
	width: 50px;
  top:30%;
display: flex;
flex-direction: row;
}
.social-icons li {
	float:none;
  display: block
}
.social-icons li a {
    display:inline-block;
    width:40px;
    height:40px;
    float:top;
    overflow:hidden
}
.social-icons li a i {
    padding:13px
}
.facebook {
    color:#3d5b99
}
.facebook:hover {
    color:#fff;
  	background-color: #3d5b99
}
.twitter {
    color:#00aced
}
.twitter:hover {
    color:#fff;
  	background-color: #00aced
}
.youtube {
    color:#e64a41
}
.youtube:hover {
    color:#fff;
	  background-color: #e64a41
}
.linkedin {
    color:#0073a4
}
.linkedin:hover {
    color:#fff;
  	background-color: #0073a4
}
.google-plus {
    color:#e25714
}
.google-plus:hover {
    color:#fff;
  	background-color: #e25714
}
.facebook,
.twitter,
.youtube,
.linkedin,
.google-plus {
    -o-transition:.5s ease;
  	-ms-transition:.5s ease;
  	-moz-transition:.5s ease;
  	-webkit-transition:.5s ease;
  	transition: .5s ease
}
.facebook:hover,
.twitter:hover,
.youtube:hover,
.linkedin:hover,
.google-plus:hover {
    width:50px
}
